{% extends "layout.html" %}


{% block title %} About {% endblock %}

{% block content %}
    <h1>Movie Site</h1>
    <div class="card">
        <div class="card-header">
            About
        </div>
        <div class="card-body">
            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, magni voluptates repellendus eum id libero
                reiciendis culpa nulla omnis, ducimus non rem consequatur doloribus quia. Ea, at. Explicabo, adipisci fugit
                facilis aliquam cum numquam quaerat inventore dolor quasi ipsa excepturi laboriosam cumque unde doloribus
                sequi voluptatum alias incidunt enim ab eaque blanditiis quos suscipit nostrum! Dolore tenetur iste quisquam
                animi laudantium repellendus, libero voluptates quo sint earum est eaque cum ut qui dicta, tempora quidem
                molestias excepturi atque eum quia laboriosam sed! Atque incidunt enim maiores voluptate possimus blanditiis
                aspernatur eius? Quo quasi provident ratione explicabo ipsa, veritatis tempore voluptates? Lorem, ipsum
                dolor sit amet consectetur adipisicing elit. Eveniet quod repellendus asperiores unde, ducimus quam
                doloribus corporis quia est temporibus veniam iure enim blanditiis dicta autem? Possimus pariatur quisquam,
                ipsa deleniti, expedita est rerum quae dolorem magnam, culpa ipsam inventore libero reiciendis magni atque
                dicta non consequatur quas sed qui ullam veniam iste itaque? Sed ipsum debitis voluptatibus saepe rerum
                error cupiditate quae in dicta molestiae animi atque quibusdam, ea quia alias. Odit, ullam iure. Quo
                assumenda pariatur accusantium numquam mollitia quis ipsam sint quas eum adipisci. Animi, maxime ipsum
                sapiente dolores, voluptate minima illo cupiditate mollitia eos quisquam blanditiis accusamus deleniti
                possimus tempore dolorem labore cum culpa ipsam odio totam laboriosam doloribus neque quidem. Ducimus beatae
                fugit aperiam quisquam quidem pariatur consectetur natus sapiente perferendis aspernatur deserunt odit
                doloremque minima provident incidunt, est quod eligendi fuga reiciendis nihil excepturi enim mollitia. Ut,
                sapiente quam totam quibusdam odit laboriosam, laudantium minus fugit adipisci sequi voluptatum maiores
                expedita ullam magni dignissimos accusantium ratione repellat commodi neque possimus! Obcaecati culpa nulla
                vel sit iusto rerum dicta magnam natus! Expedita corrupti asperiores voluptatum unde nemo cum similique
                iusto atque assumenda, suscipit nobis quod facere obcaecati pariatur ipsum. Optio porro quis ducimus
                voluptatibus repellat!
            </p>
        </div>
    </div>
{% endblock %}